<!DOCTYPE html>
<html>
	<head>
		<title>Places</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="includes/js/jquery-latest.min.js"></script> -->
	</head>
	<body>
		<div class="ui two item menu inverted">
			<a class="item" href="/">View</a>
			<a class="item" href="/new">Add</a>
		</div>
